h2{
    text-decoration: underline double #BB2025;
    color: #BB2025;
    text-align: center;
}
*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.nav-link__item{
    text-decoration: none;
    font-weight: 700;
    color: #BB2025;
}
.section-text__how{
    text-decoration: overline double black;
    text-transform: uppercase;
    text-align: center;
}
form{
    color: #BB2025;
}
.section-text__info{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
}
.section-text__warn{
    font-weight: 100;
    color: darkolivegreen;
}
.section-text__warning{
    font-weight: 100;
    color: cornflowerblue;
}
footer{
    text-align: center;
}
.header-tagline{
    font-size: 30px;
}